<div>
  <!-- <div class="col-md-6" id="logindiv"> -->

  <form [formGroup]="myform">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h1>ACH Payment Method</h1>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Account Number</mat-label>
          <input matInput formControlName="accountNumber" /> </mat-form-field
        ><br />

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Route Number</mat-label>
          <input matInput formControlName="routingNumber" /> </mat-form-field
        ><br />
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="amountindollar" /> </mat-form-field
        ><br />
        <!-- <label>Account Number</label>
        <input type="text" id="ac" formControlName="accountNumber" /><br /> -->

        <!-- <label>Route Number</label>
        <input type="text" id="rc" formControlName="routingNumber" /><br /> -->
        <!-- //id="accountType" -->

        <div class="accountType">
          <label for="accountType">accountType </label>
          <select name="accountType" formControlName="accountType" value="dddd">
            <option value="checking">checking</option>
            <option value="saving">savings</option>
          </select>
          <br />
        </div>

        <label for="ownershipType">ownershipType </label>
        <select
          name="ownershipType"
          id="ownershipType"
          formControlName="ownershipType"
        >
          <option value="personal">personal</option>
          <option value="business">business</option></select
        ><br />
      </div>

      <div class="col-md-6">
        <div formGroupName="billingAddress">
          <h3>
            <b><label for="billingAddress">Billing Address </label><br /></b>
          </h3>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>streetAddress</mat-label>
            <input matInput formControlName="streetAddress" /> </mat-form-field
          ><br />

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>extendedAddress</mat-label>
            <input
              matInput
              formControlName="extendedAddress"
            /> </mat-form-field
          ><br />

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>locality</mat-label>
            <input matInput formControlName="locality" /> </mat-form-field
          ><br />

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>region</mat-label>
            <input matInput formControlName="region" /> </mat-form-field
          ><br />

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>postalCode</mat-label>
            <input matInput formControlName="postalCode" /> </mat-form-field
          ><br />
        </div>

        <br />

        <mat-checkbox formControlName="concent"
          ><p>I authorize Braintree, to verify my bank account</p></mat-checkbox
        ><br />

        <div *ngIf="authorizedFromService" class="text-danger">
          <p>please authorize braintree to preforme this operation</p>
        </div>
        <div *ngIf="onOff" class="text-danger">
          <p>Invalid input</p>
        </div>

        <button
          (click)="createBraintreeFunction()"
          class="btn btn-info"
          id="submit"
        >
          submit
        </button>
      </div>
    </div>
  </form>

  <!-- <section class="example-section">
        <mat-checkbox>Check mee!</mat-checkbox>
      </section> -->

  <!-- </div> -->
  <div class="col-md-4"></div>
</div>
